#header
    nav.navbar.navbar-dark.bg-dark.justify-content-between
        a.navbar-brand(href="/app") DiaLOG
        .d-inline
            a.btn.btn-secondary.my-2.my-sm-0(href="/logout") Logout

.d-flex.flex-row.h-view
    #groups.h-100
        ul.nav.flex-column.navbar-light.bg-light.h-100.border-right.text-nowrap.nav-pills.p-2
            li.nav-item
                a.nav-link.active(href="#") Group 1
            li.nav-item
                a.nav-link(href="#") Group 2
            li.nav-item
                a.nav-link(href="#") Group 3
            li.nav-item
                a.nav-link(href="#") Group 4
    #channels.h-100
        ul.nav.flex-column.navbar-light.bg-light.h-100.border-right.text-nowrap.nav-pills.p-2
            li.nav-item
                a.nav-link.active(href="#") General
            li.nav-item
                a.nav-link(href="#") Ideas
            li.nav-item
                a.nav-link(href="#") Announcements
    #view.w-100.h-100.position-relative
        nav.navbar.fixed-bottom.position-absolute.bottom-0.w-100
            form.form-inline
                input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-primary.my-2.my-sm-0(type='submit') Search
