.row
    .col-2
    .col-8.card.m-4.p-4
        form.ajaxForm(method="POST" action="/api/groups")
            h2 Create a Channel
            .form-group
                label(for='userNameInput') Channel Name
                input#userNameInput.form-control(type='text' name="name" placeholder='Channel name')
            .form-group
                label(for='userDescriptionInput') Description
                input#userDescriptionInput.form-control(type='text' name="description" placeholder='Description')
            .d-flex.justify-content-between.align-content-center
                button.btn.btn-primary.actionButton.ml-2(type='submit') Submit
    .col-2
