#loginModal.modal.fade(tabindex='-1' role='dialog')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content.ajaxForm.loginForm(method="POST" action="/api/login"  data-state="login")
            .modal-header
                h5#loginModalLongTitle.modal-title Login
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
                .form-group
                    label(for='userUsernameInput') Username
                    input#userUsernameInput.form-control(type='text' name="username" placeholder='Username')
                .form-group
                    label(for='userPasswordInput') Password
                    input#userPasswordInput.form-control(type='password' name="password" placeholder='Password')
                .form-group.passwordConfirm.d-none
                    label(for='userPasswordConfirmInput') Password (Re-Type)
                    input#userPasswordConfirmInput.form-control(type='password' name="passwordConfirm" placeholder='Password (Re-Type)')
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-light.toggleLoginForm(type='button') Create Account
                button.btn.btn-primary.actionButton(type='submit') Submit
